FrontEnd/AdmonUserClient/AdmonUserClient/Connected Services/UserService/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdmonUserEntities.Transversales" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdmonUserEntities.Transversales" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58585/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdmonUserEntities.Model" />
  <xs:complexType name="ResponseService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AdmonUserEntities.Model" minOccurs="0" name="ResponseData" nillable="true" type="q1:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseService" nillable="true" type="tns:ResponseService" />
</xs:schema>